
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
    gap: 8px;
    padding: 10px;
    padding-right: 34px;
    width: 82%;
    margin: auto;
    margin-top: 5%;
}

.grid-item {
    background-color: green;
    font-size: 175%;
    text-align: center;
    color: whitesmoke;
}

.boxes {
    padding-left: 3%;
    padding-bottom: 3%;
}

#item8 {
    grid-area: 2/2/4/4;
    text-align: center;
    padding-top: 5%;
}


.dice {
    display: grid;
    grid-template-columns: auto auto auto;
}

.singleDie {
    display: flex;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
}

.die {
    width: 90%;
}

.die3 {
}
